* {
  box-sizing: border-boxl;
}

.text-center {
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
}
.container {
  margin: 10px 20px;
  max-width: 1200px;
  margin: 100px auto;
}

input {
  margin: 8px 0;
}

label {
  font-weight: 700;
}

.title {
  margin-top: 10px;
}
